{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="jumbotron mt-3">
        <p class="lead"><h1>Sélection du quiz</h1></p>

        <hr class="my-4">
        {% for quiz in quizzes %}
            <a href="{{ path('quiz_candidat', {
                quizId: quiz.id
            })}}"><li>{{ quiz.name }}</li></a>
        {% endfor %}
    </div>

{% endblock %}
